<div class="main users-new">
  <div class="container">
    <div class="form-heading">APIチェック</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/users/#{@user.id}/api") do %>
          <p>住所</p>
          <input name="add">
          <input type="submit" value="検索する">
        <% end %>
      </div>
    </div>
  </div>
</div>
